if [[ -z "$VIRTUAL_ENV" ]]; then
    if [[ ! -x .venv ]]; then
        virtualenv -p python3.6 .venv
        pip install Fabric3==1.13.1.post1
    fi
    . .venv/bin/activate
    VIRTUAL_ENV=fb

    export PYTHONPATH=.
    export DJANGO_SETTINGS_MODULE=fb.conf.settings.development
    export DATABASE_URL=postgres://localhost/fikabot
fi

if [[ -e .envrc.local ]]; then
    source .envrc.local
fi
